.Rproj.user
.Rhistory
.RData
.Ruserdata

# OS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Script outputs (YOLO exports, trained weights, etc.)
yolo_split/ 
data/kfold/
runs/
*.pt
docs/technical_doc.Rmd
docs/docs.Rproj
docs/extras.Rmd